// colors
$dark: #0a1f38;
$dark-middle: #1b2f46;
$dark-light: #2f4056;
$gray: #9da5af;

$green-dark: #819400;
$green-middle: #97ab0d;
$green: #a5bb0c;
$green-light: #b1c909;
$white: #ffffff;

//fonts

$h1-font-size: 10.4rem;
$h1-font-size-mob: 6rem;

$h2-font-size: 4.8rem;
$h2-font-size-mob: 3.2rem;

$h3-font-size: 3.2rem;
$h3-font-size-mob: 2.4rem;

$h4-font-size: 2.4rem;
$h4-font-size-mob: 2rem;

$text-font-size-normal: 2rem;
$text-font-size-normal-mob: 1.6rem;

$text-font-size-small: 1.8rem;
$text-font-size-small-mob: 1.4rem;

$text-font-size-small-bold: 1.8rem;
$text-font-size-small-bold-mob: 1.4rem;

//font weight

$font-black-weight: 900;
$font-bold-weight: 700;
$font-semi-bold-weight: 600;
$font-medium-weight: 500;
$font-regular-weight: 400;

//font family

$heading-font-family: 'Montserrat', sans-serif;

// screens
$breakpoint-small: 360px;
$breakpoint-medium: 768px;
$breakpoint-large: 1366px;
$breakpoint-xlarge: 1920px;
