@use 'normalize.css' as *;
@use 'vars' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat-Regular', sans-serif;
  color: $white;
}

body {
  background-color: $dark;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $breakpoint-small) {
    max-width: $breakpoint-medium;
  }
  @media (min-width: $breakpoint-medium) {
    max-width: $breakpoint-large;
  }
  @media (min-width: $breakpoint-large) {
    max-width: $breakpoint-xlarge;
  }
  @media (min-width: $breakpoint-xlarge) {
  }
}

h1 {
  font: {
    family: $heading-font-family;
    size: $h1-font-size;
    weight: $font-black-weight;
  }
}

h2 {
  font: {
    family: $heading-font-family;
    size: $h2-font-size;
    weight: $font-semi-bold-weight;
  }
}

h3 {
  font: {
    family: $heading-font-family;
    size: $h3-font-size;
    weight: $font-regular-weight;
  }
}

h4 {
  font: {
    family: $heading-font-family;
    size: $h4-font-size;
    weight: $font-semi-bold-weight;
  }
}
