@use "normalize.css" as *;
@use "vars" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat-Regular", sans-serif;
  color: $white;

  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: $dark;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;

  @media (min-width: $breakpoint-small) {
    max-width: 768px;
  }
  @media (min-width: $breakpoint-medium) {
  }
  @media (min-width: $breakpoint-large) {
  }
  @media (min-width: $breakpoint-xlarge) {
  }
}

h1 {
  font: {
    family: $heading-font-family;
    size: $h1-font-size;
    weight: $font-black-weight;
  }
}

h2 {
  font: {
    family: $heading-font-family;
    size: $h2-font-size;
    weight: $font-semi-bold-weight;
  }
}

h3 {
  font: {
    family: $heading-font-family;
    size: $h3-font-size;
    weight: $font-regular-weight;
  }
}

h4 {
  font: {
    family: $heading-font-family;
    size: $h4-font-size;
    weight: $font-semi-bold-weight;
  }
}
